.css-1byr0tz {
    background: #F2F3F6 !important;
}
/* 
label.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.css-1vbggne-MuiFormControlLabel-root {

    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px 10px;
}    */